<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink = "/login">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/login">login</a>
        </li>
        
        
      </ul>
</div>
</nav>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Book-id</th>
            <th scope="col">Book Name</th>
            <th scope="col">Author</th>
            <th scope="col">Year</th>
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let row of bookData">
            <td>{{row.id}}</td>
            <td>{{row.bookName}}</td>
            <td>{{row.author}}</td>
            <td>{{row.year}}</td>
            
        </tr>
    </tbody>
</table>
